<p>NOTE: home button does nothing on home page it was simply faster to add it to layout rather than to every page of the web app</p>
<h1>Shopify developer internship challenge</h1>
<p> Hello, this is my projcet for the Shoify developere internship challenge</p>
<p> the challeng was to make a simple CRUD database for inventory items </p>
<p> for reference in making an inventory item i used the one in the </p>
<p> shopify docs <%= link_to("here","https://shopify.dev/api/admin-rest/2022-04/resources/inventoryitem#resource-object") %></p>
<p> nevertheless i still used two database, one for storing the item itself one for storing the item's country of origin </p>
<p>to manage all the inventory items click this link:
<%= link_to('All items', items_path) %>
</p>
<p>to manage the countries table click this link: 
<%= link_to('All countries', countries_path) %>
</p>
